
 
  <div class="row g-3 align-items-center">
    <div class="col-sm-2">
      <label for="login" class="col-form-label">Login</label>
    </div>
    <div class="col-auto">
      <input type="text" id="login" class="form-control"
      [formControl]="login">
    </div>    
  </div>
  <div class="row g-3 align-items-center">
    <div class="col-sm-2">
      <label for="password" class="col-form-label">Password</label>
    </div>
    <div class="col-auto">
      <input type="password" id="password" class="form-control" 
      [formControl]="password">
    </div>
    <div class="col-auto">
      <span id="passwordHelpInline" class="form-text">
        Must be 8-20 characters long.
      </span>
    </div>
  </div>
  <button class="btn btn-primary" (click)="realizarLogin()">Login</button>