<table class="table">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome</th>
            <th scope="col">Valor</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Air Jordan ABC</td>
            <td>R$ 3000,00</td>
            <td><button class="btn btn-warning">Editar</button></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Nike Shox</td>
            <td>R$ 599,00</td>
            <td><button class="btn btn-warning">Editar</button></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Vans</td>
            <td>R$ 599,00</td>
            <td><button class="btn btn-warning">Editar</button></td>
        </tr>
    </tbody>
</table>